hibernate.dialect=org.hibernate.dialect.OracleDialect
hibernate.default_schema=OT
hibernate.connection.driver_class=oracle.jdbc.driver.OracleDriver
hibernate.connection.url=${DATABASE_URL:jdbc:oracle:thin:@<server>:<port>:<instance>}
hibernate.connection.username=${DATABASE_USERNAME}
hibernate.connection.password=${DATABASE_PASSWORD}

hibernate.c3p0.min_size=5
hibernate.c3p0.max_size=20
hibernate.c3p0.timeout=300
