.space-right {
  margin-right: 20px;
}

.half-width {
  width: 50%;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .half-width {
    width: 100%;
  }
}
