.icon-spacing {
  display: flex;
  justify-content: space-around;
}

.heading-spacing {
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.v-centerify {
  align-self: center;
}

/* 
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table, thead, tbody, th, td, tr { 
		display: block;
	}

	/* Hide table headers */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
    border: 1px solid #ccc;
  }

	td { 
		/* Behave  like a row */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
    padding-left: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	}

	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}
